.MainStyle {
    padding-top: 20px;
    color: #fc7061;
    text-align: center;
}

.Circle {
    height: 50px;
    width: 50px;
    padding: 20px;
    text-align: center;
    background-color: #fc7061;
    border-radius: 50%;
    display: inline-block;
}

.VortexComponents {
    text-align: center;
    height: 300px;
    width: auto;
    padding: 50px;
}

.Platforms {
    text-align: center;
    align-items: center;
}

.Item {
    padding: 30px;
    margin-left: 20px;
}

h5 {
    color: white;
}